h1{
    font-size: 4.5em;
    line-height: 1;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.8em;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  td {
    padding-right: 8px;
  }

  .button-form{
    background: linear-gradient(90deg,#10c317 23%,#15d09a 64%)!important;
    color: white;
    width: 40%;
    font-size: 1.2em;
    height: 40px;
  }
  .expect{
    background: #0d1820;
  }
 
  .card-expect{
    background: #1f313e;
    color: white;
    transition: 0.5s;
  }
  .card-expect span{
    font-size: 3em;
    color: #10c317;
  }
  .card-expect .mat-card-title{
    line-height: 1.2;
  }
  .card-expect:hover{
    background: white;
    color: #1f313e;
  }
  .text-green {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    background: linear-gradient(90deg,#10c317 23%,#15d09a 64%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    margin-bottom: 5px;
}
  