h1{
    font-size: 4.5em;
    line-height: 1;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.8em;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  td {
    padding-right: 8px;
  }

  .button-form{
    background: linear-gradient(90deg,#10c317 23%,#15d09a 64%)!important;
    color: white;
    width: 40%;
    font-size: 1.2em;
    height: 40px;
  }
  .expect{
    background: #0d1820;
    padding: 5% 0%;
  }
  .expect h2{
    font-size: 3em;
    padding: 1% 0;
  }
  .card-expect{
    background: #1f313e;
    color: white;
    transition: 0.5s;
  }
  .card-expect span{
    font-size: 3em;
    color: #10c317;
  }
  .card-expect .mat-card-title{
    line-height: 1.2;
  }
  .card-expect:hover{
    background: white;
    color: #1f313e;
  }
  .text-green {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    background: linear-gradient(90deg,#10c317 23%,#15d09a 64%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    margin-bottom: 5px;
}

.houses{
  padding: 5% 0;
}
.about{
  padding: 2% 0 7%;
  p{
    font-size: 1.2em;
  }
}
.boton-1{
  margin-right: 3%;
  height: 50px;
  width: 35%;
  border: 2px solid #10c317;
  background: transparent;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", sans-serif!important;
  font-weight: bolder;
}
.boton-2{
  height: 50px;
  width: 35%;
  border: 2px solid #10c317;
  background: #10c317;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", sans-serif!important;
  font-weight: bolder;
}
.boton-services{
  height: 40px;
  width: 25%;
  border: 2px solid #10c317;
  background: #10c317;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", sans-serif!important;
  font-weight: bolder;
}
.sizebold{
  font-size: 3em;
  font-weight: bold!important;
}
.line-title{
  line-height: 1.2;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  h1{
    font-size: 2.5em!important;
  }
  h2{
    font-size: 1.5em!important;
  }
  .services img {
    width: 83%;
    height: 250px;
  }
  .boton-services {
    width: 55%;
  }
}
body {
  overflow-x: hidden!important; /* Hide horizontal scrollbar */
}